@{
    ViewData["Title"] = "Вход";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card text-center col-md-6">
        <div class="card-body">
            <h5 class="mb-3">Вход:</h5>
            <a href="/Auth/RegistrationPage" class="btn btn-primary btn-lg col-md-10 mb-1">Регистрация</a>
            <br>
            <a href="/Auth/AuthentificationPage" class="btn btn-success btn-lg col-md-10">Войти</a>
        </div>
    </div>
</div>
